@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0, 198, 20;
    --color-primary-1: 239, 251, 240;
    --color-primary-2: 81, 92, 214;

    --color-neutral: 107, 108, 114;
    --color-neutral-8: 136, 137, 142;
    --color-neutral-9: 62, 63, 72;

    --color-white: 255, 255, 255;
    --color-neutral-1: 249, 249, 250;
    --color-neutral-2: 242, 242, 243;
    --color-neutral-3: 210, 210, 213;
    --color-neutral-4: 229, 229, 230;
    --color-neutral-5: 178, 178, 182;

    --color-success: 68, 199, 118;
    --color-success-1: 241, 253, 246;
    --color-success-2: 232, 247, 238;
    --color-success-3: 130, 221, 165;

    --color-warning: 245, 138, 40;
    --color-warning-1: 253, 244, 237;
    --color-warning-6: 245, 136, 41;
    --color-warning-7: 227, 146, 15;

    --color-error: 245, 40, 40;
    --color-error-1: 251, 239, 240;
  }
}
